body{
    font-family: 'Montserrat', sans-serif;
    min-width: 340px;
}

/*Общие классы (для всех контейнеров)*/
.container{
    max-width: 1168px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    width: 100%;
}
.space_between{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.photo{
    background-color: #9a9a9a;
}

/*первый контейнер*/
.in_two{
    margin-bottom: 142px;
    max-width: 1280px;
    display: flex;
    justify-content: start;
    margin-left: auto;
    margin-right: auto;
}
.right_column{
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 45px;
    max-width: 523px;
    min-width: 410px;
    width: calc(100vw - 757px);
}
.header_items{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: center;
}
#form_one{
    display: flex;
    align-items: center;
}
.head_icon{
    width: 20px;
    height: 20px;
    background-size: cover;
}
#search{
    max-width: 213px;
    width: calc(100vw - 1067px);
    min-width: 92px;
}
#magnifying_glass{
    background-image: url("img/search.png");
    background-color: white;
    border: none;
    margin-right: 40px;
}
#shopping_cart{
    background-image: url("img/shopping-cart.png");
    margin-right: 8px;
}
.h1_txt{
    max-width: 523px;
    margin: 105px 0;
}

/*Второй контейнер*/
.icon_benifit{
    width: 48px;
    height: 48px;
    margin-right: 16px;
}
#fast{
    background-image: url("img/fast.svg");
}
#headphones{
    background-image: url("img/headphones.svg");
}
#plant{
    background-image: url("img/plant.svg");
}
#dollar-symbol{
    background-image: url("img/dollar-symbol.svg");
}
.icon_benifit_text{
    display: flex;
    justify-content: start;
    align-items:center;
    margin-bottom: 16px;
}
.benifit{
    width: 236px;
    border: 1px solid #E0E0E0;
    padding: 22px 16px 21px 16px;
}

/*Третий контейнер*/
.flower{
    width: 217px;
    height: 217px;
}


/*Четвертый контейнер*/
.buy_more_first_clm{
    margin-top: auto;
    margin-bottom: auto;
}
.buy_more_txt{
    margin-bottom: 74px;
    max-width: 522px;
    margin-left: auto;
    margin-right: auto;
}
.bottom_16{
    margin: 0;
    margin-bottom: 16px;
}


/*Пятый контейнер*/
.visit_shop_container{
    background: #F3F4F6;
    align-items: center;
}
.plant_on_hand{
    width: 480px;
    height: 360px;
    background-image: url("img/Best_plant.jpg");
    background-position: center;
}
.buy_now_txt{
    max-width:585px;
    margin-left: 97px;
}


/*футер*/
.first_clm_info{
    width: 282px;
}
.footer{
    max-width: 946px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    margin-bottom: 65px;
}
.info{
    border-top: 1px solid #E0E0E0;
    max-width: 1280px;
    min-height: 268px;
    margin-left: auto;
    margin-right: auto;
}
/*футер*/


/*кнопки*/
.button{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    background-color: #156963;
    color: white;
}
.b_first_head{
    background-color: white;
    color: #156963;
    width: 111px;
    height: 36px;
}
.b_second_head{
    width: 111px;
    height: 36px;
}
.b_shop{
    width: 152px;
    height: 40px;
}
.b_submit{
    width: 51px;
    height: 22px;
    border-radius: 2px;
    font-weight: 500;
    font-size: 8px;
    line-height: 14px;
}
.button_shadow{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/*Шрифты*/
.benifit_txt{
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #156963;
}
.h_buy_more{
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    margin: 0 0 16px;
    color: #2C1500;
}
.price{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
.logo{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #156963;
    margin: 0 0 24px;
}
.heading_text{
    font-weight: 500;
    font-size: 68px;
    line-height: 83px;
    color: #156963;
    margin-bottom: 24px;
    margin-top: 0;
}
.featured_plants{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    padding-bottom: 16px;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 31px;
}
.h_info{
    margin: 0 0 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.standart_text{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #2C1500;
    opacity: 0.8;
    margin: 0;
}
.mini_txt{
    margin: 0 0 0 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
}
.name_of_plant{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 8px;
}
.little_info{
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #4F4F4F;
    margin: 0 0;
}
.info_simple_txt{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
#email{
    padding:8px 87px 8px 13px ;
    border: 1px solid #bdbdbd;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    opacity: 0.5;
    margin: 0 0 14px 0;
}
.margin_bottom_20{
    margin: 20px 0;
}
.margin_bottom_14{
    margin: 14px 0;
}
.info_margin{
    margin-left: 10px;
    margin-right: 10px;
}





@media screen and (max-width:1180px) {
    .container{
        max-width: 523px;
    }
    .in_two{
        flex-direction: column-reverse;
        align-items: center;
    }
    #search{
        max-width: 213px;
        width: calc(100vw - 395px);
    }
    .header{
        max-width: 523px;
        width: calc(100vw - 85px);
        margin-left: auto;
        margin-right: auto;
    }
    .benifit{
        margin-bottom: 68px;
        width: 523px;
    }
    .product_items{
        margin-bottom: 68px;
    }
    .buy_now_txt{
        margin:16px;
    }
    .buy_more_first_clm{
        margin-bottom: 16px;
    }
    .space_between:not(.not_2){
        justify-content: center;
    }
}
@media screen and (max-width:607px) {
    .photo{
        width: 100%;
    }
}
@media screen and (max-width:539px) {
    .benifit{
        width: 236px;
    }
}

@media screen and (max-width:450px) {
    .space_between:nth-child(2){
        justify-content: center;
    }
    .header{
        display: block;
        min-width: auto;
        width: auto;
        justify-content: center;
        align-items: center;
    }
    #search{
        width: 100%;
    }
    #form_one{
        justify-content: center;
        margin-bottom: 16px;
    }
    #magnifying_glass{
        margin-right: 0;
    }
}